<div class='w-100 horizontal-posts'>
  <%= render partial: 'frontend/home/includes/header_category', locals: { item: item } %>
  <div class='row'>
    <% item.posts.published.limit(3).each_with_index do |post| %>
      <div class='col-lg-4 post'>
        <a href='#'>
          <%= image_tag(url_for(post.cover.variant(combine_options: { resize: '360x200^', extent: '360x200', gravity: 'Center' })), class: 'img-fluid') if post.cover.attached? %>
          <%= content_tag(:span, post.page.name) if post.page.present? %>
          <%= content_tag(:h3, post.name, class: 'font-default font-weight-medium title-size') %>
        </a>
        <%= content_tag(:summary, post.summary, class: 'font-default font-weight-regular summary-size') %>
      </div>
    <% end %>
  </div>
</div>