<%= render partial: 'backoffice/shared/header_add', locals: { path: new_backoffice_page_path } %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :id, '#', default_order: :desc) %></th>
      <th scope="col"><%= sort_link(@q, :name, 'Nome', default_order: :desc) %></th>
      <th scope="col" class='text-center'>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <th scope="row"><%= page.id %></th>
        <td><%= page.name %></td>
        <td class='text-center'>
            <%= link_to 'Editar', edit_backoffice_page_path(page), class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Excluir', backoffice_page_path(page), method: :delete, class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <%= paginate @pages %>
</div>