<%= javascript_include_tag Ckeditor.cdn_url %>
<%= simple_form_for([:backoffice, @post], html: { multipart: true } ) do |f| %>
  <div class='row'>
    <div class='col-md-6'>
      <%= f.association :page, collection: @pages, prompt: 'Selecione uma página', include_blank: true, input_html: { class: 'select2' }, label: 'Página' %>
    </div>
    <div class='col-md-6'>
      <%= f.association :categories, collection: @categories, input_html: { multiple: true, class: 'select2' }, label: 'Categorias' %>
    </div>
  </div>
  <div class='row'>
   <div class='col-md-6'>
    <%= f.input :image, as: :file %>
    <% if @post.image.attached? %>
      <%= image_tag(url_for(@post.image.variant(resize: '120x120'))) %>
    <% end %>
   </div>
    <div class='col-md-6'>
      <%= f.input :cover, as: :file %>
      <% if @post.cover.attached? %>
        <%= image_tag(url_for(@post.cover.variant(resize: '120x120'))) %>
      <% end %>
    </div>
  </div>
  <%= f.input :name %>
  <div class='row'>
    <div class='col-md-6'>
      <%= f.input :subname %>
    </div>
    <div class='col-md-6'>
      <%= f.input :headline %>
    </div>
  </div>
  <%= f.input :summary, as: :text %>
  <%= f.input :body, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full', height: 400 } } %>
  <%= f.input :active, as: :boolean, input_html: { data: { toggle: 'toggle', size: 'sm'} } %>
  <%= f.input :feature_post, as: :boolean, input_html: { data: { toggle: 'toggle', size: 'sm'} } %>
    <div class='row'>
    <div class='col-md-6'>
      <%= f.input :url_video %>
    </div>
    <div class='col-md-6'>
      <%= f.input :tag_list, :input_html => { class: 'tagsinput form-control', value: @post.tag_list.join(', ') }, label: 'Tags' %>
    </div>
  </div>
  <%= f.button :submit, class: 'btn-success' %>
<% end %>