<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="wertermeira@gmail.com">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'backoffice', media: 'all' %>
  </head>

  <body>
    <%= render partial: 'layouts/partials/header' %>
    <div role='main' id="page">
      <div class='container'>
        <%= yield %>
      </div>
    </div>

    <%= javascript_pack_tag 'backoffice' %>
  </body>
</html>
