<!DOCTYPE html>
<html>
  <head>
    <title>Irecê Réporter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'frontend', media: 'all' %>
  </head>

  <body>
    <%= render partial: 'layouts/frontend_partials/header' %>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
