<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="wertermeira@gmail.com">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'session', media: 'all' %>
  </head>

  <body class='text-center'>
    <%= yield %>
    <%= javascript_pack_tag 'backoffice' %>
  </body>
</html>
